.ico {
    cursor: pointer;
    display: inline-block;
  }

.ico-help{
    cursor: auto;
    width: 60px;
    height: 60px;
    @include media-mobilesmall {
        width: 50px;
        height: 52px;
        background-size: 100%;
        background-repeat: no-repeat;
    };
}

.icon-close{
    display: none;
    @extend %transition;
    position: fixed;
    // display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-primary;
    border-radius: 50%;
    right: 10%;
    top: 16.5%;
    z-index: 7;
    width: 52px;
    height: 52px;
    cursor: pointer;
    &:hover{
        background: $color-primary-light;
    }
    @include media-tablet {
        right: 3%;
        top: 24.8%;
    };
    @include media-mobilesmall {
        right: 3%;
        top: 24.8%;
    };

}

.icon-close__icon{
    // font-weight: 800;
    font-size: 20px;
   
}


// .icon-help {
//     @include media-mobilesmall {
//         width: 50px;
//         height: 50px;
//     };
// }


.ico_food {
    background-image: url("../assets/icons/food.svg");
    
}

.ico_transport {
    background-image: url("../assets/icons/transport.svg");
    
}

.ico_toy {
    background-image: url("../assets/icons/toy.svg");
    
}

.ico_cup {
    background-image: url("../assets/icons/cup.svg");
  
}

.ico_shampoo {
    background-image: url("../assets/icons/shampoo.svg");
}

.ico_vitamins {
    background-image: url("../assets/icons/vitamins.svg");
}

.ico_medicine {
    background-image: url("../assets/icons/medicine.svg");
}

.ico_collar {
    background-image: url("../assets/icons/collar.svg");
}

.ico_house {
    background-image: url("../assets/icons/house.svg");
}

.ico-email{
    background-image: url("../assets/icons/icon-email.svg");
    width: 40px;
    height: 32px;
}

.email__icon{
    padding-top: 1rem;
}

.ico-phone{
    background-image: url("../assets/icons/icon-phone.svg");
    width: 40px;
    height: 32px;
}

.phone__icon{
    padding-top: 1rem;
}

.ico-point{
    background-image: url("../assets/icons/pin.svg");
    width: 22px;
    height: 32px;
}

.point__icon{
    padding-top: 0.6rem;
}

.icon-credit-card{
    background-image: url("../assets/icons/credit-card.svg");
    width: 30px;
    height: 23px;
}

.arrow-left-icon{
    background-image: url("../assets/icons/Arrow-left.svg");
    width: 14px;
    height: 6px;
}

.arrow-right-icon{
    background-image: url("../assets/icons/Arrow-right.svg");
    width: 14px;
    height: 6px;
}

.carousel__control-icon{
    @extend %transition;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    top: 50%;
    border: 2px solid $color-primary;
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        background: $color-primary;
    }
}

.arrow-left {
    left: 0;
    top: 53%;
    @include media-tablet {
        left: 4%;
    };
    @include media-mobilesmall {
        left: 6.8rem;
        top: 83.2%;
    };
  }
  
.arrow-right {
    right: 0;
    top: 53%;
    @include media-tablet {
        right: 4%;
    };
    @include media-mobilesmall {
        right: 6.8rem;
        top: 83.2%;
    };
}

.paginate__start-icon{
    font-family: 'Georgia';
    @include font($height:115%,$size:2rem);
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 6px 10px 10px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate__end-icon{
    font-family: 'Georgia';
    @include font($height:115%,$size:2rem);
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 6px 10px 10px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate__left-icon{
    font-family: 'Georgia';
    @include font($height:115%,$size:2rem);
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 6px 10px 10px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate__right-icon{
    font-family: 'Georgia';
    @include font($height:115%,$size:2rem);
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 6px 10px 10px 10px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate__page-number{
    font-family: 'Georgia';
    background: $color-primary;
    @include font($height:115%,$size:2rem);
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px 10px 10px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocked{
    color: $color-text-heading;
    border: 2px solid $color-text-heading;
}